:root.theme-light {
    --color: #353430;
    --color-rgb: 50, 49, 45;
    --title-color: #353430;
    --title-bg: #ff8dcb;
    --accent-color: #ffc2e6;
    --accent-shadow-color: #ff8dcb;
    --main-text-color: #353430;
    --page-bg-color: #fff1f7;
    --background-image: url("../images/cover-image-light.png");
}

.theme-light .header__symbol {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --color: #353430;
        --color-rgb: 50, 49, 45;
        --title-color: #353430;
        --title-bg: #ff8dcb;
        --accent-color: #ffc2e6;
        --accent-shadow-color: #ff8dcb;
        --main-text-color: #353430;
        --page-bg-color: #fff1f7;
        --background-image: url("../images/cover-image-light.png");
    }

    .header__symbol {
        display: none;
    }
}
