/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-color: var(--background-color);
}

.header {
    /*  background-attachment: fixed;  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--background-image);
    block-size: 100vh; /* одинаковые стили с подвалом!!!!!   */
    min-block-size: 668px;
    inline-size: 100vw;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
}

.decorated-zone {
    padding: 10px;
}

.decorated-zone::before {
    content: " ";
    display: block;
    inline-size: 25px;
    block-size: 25px;
    border-block-start: 1px solid #ff0070;
    border-inline-end: 1px solid #ff0070;
    position: absolute;
    top: 10px;
    right: 10px;
}

.decorated-zone::after {
    content: " ";
    display: block;
    inline-size: 25px;
    block-size: 25px;
    border-block-end: 1px solid #ff0070;
    border-inline-start: 1px solid #ff0070;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.header__symbol {
    position: absolute;
    right: 38px;
    top: 9px;
    font-weight: 400;
    font-size: 1.125rem; /* или 18px */
    line-height: 139%; /* или 25px*/
    color: var(--color);
    text-transform: uppercase;
}

.header__symbol::after {
    content: " ";
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: -20px; /*  !!!!!!!  */
    background-color: var(--color);
    box-shadow: 0 0 4px 2px var(--color);
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
}

.header__theme-menu-button {
    padding-inline: 13px;
    font-weight: 400;
    font-size: 1.125rem; /* или 18px */
    line-height: 100%; /* или 18px */
    color: var(--color);
    background-color: transparent;
    border: none;
}

.accent__title {
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    color: var(--accent-text-color);
}

.text-shadow-bold {
    text-shadow: 4px 4px 0px var(--color);
}

.header__description {
    display: block;
    max-inline-size: 364px;
    justify-self: end;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    font-weight: 700;
}

.main {
    padding-block: 40px;
    padding-inline: 10px;
}

.section-border {
    margin-block-start: 50px;
}

.heading {
    font-weight: 700;
}

.card__title {
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
}

.title-decor {
    color: var(--title-color);
    background-color: var(--title-bg);
}

.section__title {
    margin-block-end: 20px;
    font-weight: 700;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    color: var(--color);
}

.cards__list {     /* может удалить это ????  */
    display: grid;    /* может удалить это ????  */
    grid-template-columns: 1fr;   /* может удалить это ????  */
}

.card__description {
    margin-block-start: 10px;
    font-weight: 400;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    color: var(--main-text-color);
}

.cards-list-item:not(:last-child) {
    margin-block-end: 20px;
}

.card__description-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--color);
}

.section__list-subtitle {
    margin-block-end: 20px;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    font-weight: 700;
}

.heading-medium {
    font-weight: 400;
}

.galery__title {
    margin-block-end: 10px;
    font-size: 1.125rem;
    line-height: 130%;
}

.galery__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
}

.galery__list {
    inline-size: 100%; /* ?????? */
}

.galery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.footer {
    block-size: 100vb; /* одинаковые стили с header!!!!!   */
    min-block-size: 668px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: relative;
}

.text-shadow-lite {
    text-shadow: 2px 2px 0px var(--color);
}

@media (width >= 768px) {
    .decorated-zone {
        padding: 20px 20px 20px 0;
    }

    .header__symbol {
        right: 48px;
        top: 19px;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .main {
        padding-block: 60px;
        padding-inline: 20px;
    }

    .section-border {
    margin-block-start: 80px;
    }

    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .section__title {
        grid-column: 1;
    }

    .section__list {
        grid-column: 2 / 4;
    }

    .section-alternative {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .section-alternative__title {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
   
    .section-alternative__list {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    .galery__title {
        margin-block-end: 20px;
    }
    .galery__list {
        grid-template-columns: repeat(3, 1fr);      
        grid-template-rows: repeat(3, auto);  
        gap: 20px;
    }

    .galery__list-item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .galery__list-item:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .galery__list-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .galery__list-item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .galery__list-item:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
}

@media (width >= 1024px) {
    .header__description {       
        max-inline-size: 491px;
    }

    .header__theme-menu {
        justify-self: center; 
        align-self: self-start;
    }

    .header__theme-menu-list {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .section-alternative__list {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}