.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--page-bg-color, #000028);
}

.header {
    block-size: 100vh;
    min-block-size: 668px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
}

.decorated-zone {
    padding: 10px;
}

.decorated-zone::before {
    content: " ";
    display: block;
    inline-size: 25px;
    block-size: 25px;
    border-block-start: 1px solid var(--color, #ff0070);
    border-inline-end: 1px solid var(--color, #ff0070);
    position: absolute;
    top: 10px;
    right: 10px;
}

.decorated-zone::after {
    content: " ";
    display: block;
    inline-size: 25px;
    block-size: 25px;
    border-block-end: 1px solid var(--color, #ff0070);
    border-inline-start: 1px solid var(--color, #ff0070);
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.header__symbol {
    position: absolute;
    right: 38px;
    top: 9px;
    font-weight: 400;
    font-size: var(--font-size, 1.125rem);
    line-height: 139%;
    color: var(--color, #ff0070);
    text-transform: uppercase;
}

.header__symbol::after {
    content: " ";
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: -20px; /*  !!!!!!!  */
    background-color: var(--color, #ff0070);
    box-shadow: 0 0 4px 2px var(--color, #ff0070);
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

.header__theme-menu-button {
    padding-inline: 13px;
    padding-block: 0 3px;
    font-weight: 400;
    font-size: var(--font-size, 1.125rem);
    line-height: 100%;
    color: var(--color, #ff0070);
    background-color: transparent;
    border: none;
}

.header__theme-menu-button:hover {
    border: 1px solid rgba(var(--color-rgb), 0.4);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--color, #ff0070);
    outline: none;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--color, #ff0070);
}

.accent__title {
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    color: var(--accent-color, #db00ff);
}

.text-shadow-bold {
    text-shadow: 4px 4px 0px var(--accent-shadow-color, #ff0070);
}

.header__description {
    display: block;
    max-inline-size: 364px;
    justify-self: end;
    font-size: var(--font-size, 1.125rem);
    line-height: var(--line-height, 130%);
    font-weight: 700;
}

.main {
    padding-block: 40px;
    padding-inline: 10px;
}

.section-border {
    margin-block-start: 50px;
}

.heading {
    font-weight: 700;
}

.card__title {
    font-size: var(--font-size, 1.125rem);
    line-height: var(--line-height, 130%);
}

.title-decor {
    color: var(--title-color, #000028);
    background-color: var(--title-bg, #ff0070);
}

.section__title {
    margin-block-end: 20px;
    font-weight: 700;
    font-size: var(--font-size, 1.125rem);
    line-height: var(--line-height, 130%);
    color: var(--color, #ff0070);
}

.card__description {
    margin-block-start: 10px;
    font-weight: 400;
    font-size: var(--font-size, 1.125rem);
    line-height: var(--line-height, 130%);
    color: var(--main-text-color, #f1b2ce);
}

.section__list-item:not(:last-child) {
    margin-block-end: 20px;
}

.card__description-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-shadow-color, #ff0070);
}

.card__description-link:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--main-text-color, #f1b2ce);
}

.card__description-link:focus {
    outline: none;
}

.card__description-link:focus-visible {
    border: 2px solid var(--main-text-color, #f1b2ce);
    outline: none;
}

.section__list-subtitle {
    margin-block-end: 20px;
    font-size: var(--font-size, 1.125rem);
    line-height: var(--line-height, 130%);
    font-weight: 700;
}

.heading-medium {
    font-weight: 400;
}

.galery__title {
    margin-block-end: 10px;
    font-size: var(--font-size, 1.125rem);
    line-height: var(--line-height, 130%);
}

.galery__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.galery__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    block-size: 100vh; /* одинаковые стили с header!!!!!   */
    min-block-size: 668px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: relative;
}

.text-shadow-lite {
    text-shadow: 2px 2px 0px var(--accent-shadow-color, #ff0070);
}

@media (width >= 768px) {
    .decorated-zone {
        padding: 20px;
    }

    .accent__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__title {
        margin-inline-start: -20px;
    }

    .header__symbol {
        right: 48px;
        top: 19px;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .main {
        padding-block: 60px;
        padding-inline: 20px;
    }

    .section-border {
        margin-block-start: 80px;
    }

    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .section__title {
        grid-column: 1 / 2;
    }

    .section__list {
        grid-column: 2 / 3;
    }

    .section-alternative {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    .section-alternative__title {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .section-alternative__list {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    .galery__title {
        margin-block-end: 20px;
    }
    .galery__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }

    .galery__list-item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .galery__list-item:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .galery__list-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .galery__list-item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .galery__list-item:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
}

@media (width >= 1024px) {
    .header__description {
        max-inline-size: 491px;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: self-start;
    }

    .header__theme-menu-list {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .section-alternative__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}