/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-color: var(--background-color);
}

.header {
    /*  background-attachment: fixed;  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--backgroudg-image);
    block-size: 100vh; /* одинаковые стили с подвалом!!!!!   */
    min-block-size: 668px;
    inline-size: 100vw;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
}

.decorated-zone {
    padding: 10px;
}

.decorated-zone::before {
    content: " ";
    display: block;
    inline-size: 25px;
    block-size: 25px;
    border-block-start: 1px solid #ff0070;
    border-inline-end: 1px solid #ff0070;
    position: absolute;
    top: 10px;
    right: 10px;
}

.decorated-zone::after {
    content: " ";
    display: block;
    inline-size: 25px;
    block-size: 25px;
    border-block-end: 1px solid #ff0070;
    border-inline-start: 1px solid #ff0070;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.header__symbol {
    position: absolute;
    right: 38px;
    top: 9px;
    font-weight: 400;
    font-size: 1.125rem; /* или 18px */
    line-height: 139%; /* или 25px*/
    color: var(--color);
    text-transform: uppercase;
}

.header__symbol::after {
    content: " ";
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: -20px; /*  !!!!!!!  */
    background-color: var(--color);
    box-shadow: 0 0 4px 2px var(--color);
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
}

.header__theme-menu-button {
    padding-inline: 13px;
    font-weight: 400;
    font-size: 1.125rem; /* или 18px */
    line-height: 100%; /* или 18px */
    color: var(--color);
    background-color: transparent;
    border: none;
}

.accent__title {
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    color: var(--accent-text-color);
}

.text-shadow-bold {
    text-shadow: 4px 4px 0px var(--color);
}

.header__description {
    max-inline-size: 364px;
}

.content__section {
    margin-block-start: 50px;
    padding-inline: 10px;
}

.heading {
    font-weight: 700;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    color: var(--title-color);
    background-color: var(--title-bg);
}

.intro {
    margin-block-start: 40px;
}

.section__title {
    margin-block-end: 20px;
    font-weight: 700;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    color: var(--color);
}

.cards__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card__description {
    margin-block-start: 10px;
    font-weight: 400;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    color: var(--main-text-color);
}

.card__description-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--color);
}

.advices {
}

.advices__subtitle {
    margin-block-end: 20px;
}

.heading-medium {
    font-weight: 400;
    font-size: 1.125rem; /* или 18px */
    line-height: 130%; /* или 23px*/
    color: var(--title-color);
    background-color: var(--title-bg);
}

.galery {
    margin-block-end: 40px;
}

.galery__list {
    padding-block-start: 10px;
    display: grid;
    grid-auto-flow: row; /* или 1 колонка */
    gap: 10px; /* почему нет отступов между картинками ??? */
}

.galery__images {
    max-inline-size: 100%; /* ?????? */
}

.galery__image {
    display: block;
    inline-size: 100%;
}

.footer {
    block-size: 100vb; /* одинаковые стили с header!!!!!   */
    min-block-size: 668px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
}

.text-shadow-lite {
    text-shadow: 2px 2px 0px var(--color);
}
