:root {
    --color: #ff0070;
    --title-color: #000028;
    --accent-text-color:  #db00ff;
    --main-text-color: #f1b2ce;
    --background-color: #000028;
    --title-bg: #ff0070;
    --background-image: url('../images/cover-image-dark.png');
    --font-size: 18px;   /* поменять в относ единицы */
}